opencv-python
opencv-contrib-python

numpy==1.19.3
pandas
matplotlib

iPython
jupyter

torch===1.7.0+cu110
torchvision===0.8.1+cu110
torchaudio===0.7.0

fastai

pillow
scikit-image

tqdm
requests
GitPython